.slotMachine{
  position:absolute;
  top:200px;
  left:100px;
  height:200px;
  width:400px;
  border:3px solid skyblue;
  display: flex;
  text-align: center;
}
.slot{
  position:relative;
  width:33.3%;
  height:100%;
  float:left;
  margin:auto;
  border:2px solid skyblue;
}

.rotator{
  height:50%;
  width:35%;
  border:3px solid darkblue;
  margin:auto;
  position:relative;
  top:25%;
}
.screen{
  height:33.3%;
  background-color:red;

}

.cannon{
  height:20px;
  width:50px;
  background-color: skyblue;
  position:absolute;
  top:300px;
  left:500px;

}

.rotatorOne .screenOne{
  background-color:darkred;

}
.rotatorOne .screenTwo{
  background-color:pink;

}
.rotatorOne .screenThree{
  background-color:darkred;

}

.rotatorTwo .screenOne{
  background-color:darkgreen;

}
.rotatorTwo .screenTwo{
  background-color:lightgreen;

}
.rotatorTwo .screenThree{
  background-color:darkgreen;

}

.rotatorThree .screenOne{
  background-color:darkblue;

}
.rotatorThree .screenTwo{
  background-color:lightblue;

}
.rotatorThree .screenThree{
  background-color:darkblue;

}

.bar{
  position: absolute;
  top:300px;
  left:90px;
  transform-origin: 15px 15px;
  /* transform:rotate(20deg) */
 
  
}
.round{
  height:30px;
  width:30px;
  border-radius:50%;
  background-color: skyblue;
}
.stick{
  height:60px;
  width:10px;
  background-color: skyblue;
  position: relative;
  left:10px;

}
.beamContainer{
  overflow: hidden;
  position:absolute;
  left:550px;
  width:0px;
  height:100%;
  
 

}
.beam{
  height:500px;
  width:1000px;
  border-radius: 250px 0 0 250px;
  border:skyblue solid 1px;
  position: absolute;
  
  top:50px;
  border-right:0;
  /* transform:scaleX(0); */
  transform-origin:left;
  overflow: hidden;
  
}
body{
  overflow: hidden;
}
.magazine{
  position:absolute;
  width:60px;
  min-height:100px;
  top:400px;
  left:400px;
  border:skyblue 3px solid;
  text-align:center;
}

.fireButton{
position: absolute;
height:40px;
width:80px;
background-color:skyblue;
border-radius:5px 5px 0 0 ;
top:160px; 
left:150px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-weight:bolder;
color:tomato;
transform-origin:bottom;

}

.fireButton  :hover{
  color:yellow;
}

.invisibleP{
  visibility: hidden;
}



.pallet{

  height:30px;
  width:100%;
  border-radius: 3px;

}
.emptyPallet{

  height:30px;
  width:100%;
  border-radius: 3px;

}
.pallet:hover{
  height:40px;
  width:120%;
}

.crazyRay1{
  position:absolute;
  width:300%;
  animation:crazyRay1 .2s both;
  

}
.crazyRay2{
  position:absolute;
  width:300%;
  animation:crazyRay2 .2s both;
  top:100%;
  

}

@keyframes crazyRay1{
  0%{ transform:rotate(45deg)translateX(-100%)}
  100%{transform:rotate(45deg)translateX(0%)}
}
@keyframes crazyRay2{
  0%{ transform:rotate(-45deg)translateX(-100%)}
  100%{transform:rotate(-45deg)translateX(0%)}
}





.palletJump{
  animation:palletJump .1s both;
  transform-origin: center;
}

@keyframes palletJump{
  0%{transform:translateY(0px)}
  90%{transform:translateY(5px)}

  100%{transform:translateY(0px)}
}
.beamStreak{
  height:2.5%;
  width:100%;
}
.frontStreak{
  height:2.5%;
  width:100%;

}
@keyframes frontStreak{
  0%{width:0px}
  100%{width:2000px}


}

.beamGrow{
  animation:beamGrow 1s both;
  
}

@keyframes beamGrow{
  0%{width:0px}
  100%{width:1000px}
}

.veil{
  position:fixed;
  height:100%;
  width:150%;
  transform-origin:left;
  transform:translateX(100%)
}

.veilOver{
  animation:veilOver .7s both;
}

@keyframes veilOver{
  0%{transform:translateX(-100%)}
  100%{transform:translateX(-20%)}
  

}

.bulge{
  height:40px;
  width:40px;
  border-radius:20px;
  background-color: skyblue;
}

@keyframes shotOff{
  0%{width:100%}
  100%{width:0%}
  

}

.hole{
  border-radius: 50%;
  position:fixed;
  animation: hole .1s both 

}

@keyframes hole {
  0%{transform:scale(.5)}
  100%{transform:scale(1)}
}

.instruction{
  position:absolute;
  left:50px;
  top:430px;
  color:orange;
  font-weight: bolder;

}